///*--==[ Ширины]==--*/


///*--==[ Отступы ]==--*/
$col: 0
$gap: 0


// --==[ Названия шрифтов]==--
//+font_inc($f_reg,'path')
$f_reg: 'Gilroy'
$f_bold: 'Gilroy-Bold'

:root 
    --black: 0, 0, 0
    --gray: 82, 84, 102
    --white: 255, 255, 255
    --red: 255, 0, 0
    --green: 0, 255, 0
    --blue: 70, 132, 226
    --gold: 255, 203, 69


///*--==[ Цвета ]==--*/
$black: #000
$primary: #373A4A
$second-primary: #3E74FF
$main-white: #fff
$text-color: rgba(55, 58, 74, 0.4)
$backround-footer:#373A4A
