///*--==[ Ширины]==--*/


///*--==[ Отступы ]==--*/
$col: 0
$gap: 0


// --==[ Названия шрифтов]==--
//+font_inc($f_reg,'path')
$f_reg: 'Gilroy'
$f_bold: 'Gilroy-Bold'



///*--==[ Цвета ]==--*/
$black: #000
$primary: #373A4A
$second-primary: #3E74FF
$main-white: #fff
$text-color: rgba(55, 58, 74, 0.4)
$backround-footer:#373A4A
