section.section
    .about
        .title about
        .container
            .content
                .content__img 
                    img(src="img/about.png", alt="about")
                .content__info 
                    .about-title shopicard
                    .about__descr
                        p.descr  The Shopicard extension is an environment for customizing and editing product cards for Shopify. Designed to simplify the use and administration of an online store on the Shopify platform, the extension is responsible for the following tasks: editing a product card; displaying data inside the product card, separating by language, adding the main and subsequent photos; displaying information by sections. Shopicard is part of the app building company Shopiapp.
                    .about__link 
                        a.link(href="")  Get a week of free access
                