section.section 
    .company 
        .title company
        .container
            .company__content
                .company__descr
                    p.descr.row-1 ShopiApp — fullstack is a web technology company. We solve the problems of clients who are looking for how to post information about themselves on the Internet. Whether it's an ordinary one-page website or a large portal with complex functionality and an application. 
                    p.descr.row-2 also develop applications for popular e-commerce platforms. We will create the design ourselves, make a prototype, write the code, test and launch the project. We work with Bitrix, WordPress, OpenCart, MODX, Shopify, Tilda. However, we always try to offer a site content management system of our own design — G-ENGINE.
                .company__logo 
                    .g-logo
                        img(src="img/g-logo.png", alt="")