section.section 
    .features  
        .title features
        .features__content  
            ul.items 
                li.item
                    .features__header
                        .features__icon     
                            svg.icon 
                                use(xlink:href="img/sprite.svg#like")   
                        .features-title
                            .fea-title convenience                      
                    p.descr Non enim praesent elementum facilisis. Eget egestas purus viverra accumsan in nisl.
                li.item
                    .features__header
                        .features__icon     
                            svg.icon 
                                use(xlink:href="img/sprite.svg#coins")   
                        .features-title
                            .section-title performance                     
                    p.descr Non enim praesent elementum facilisis. Eget egestas purus viverra accumsan in nisl.
                li.item
                    .features__header
                        .features__icon     
                            svg.icon 
                                use(xlink:href="img/sprite.svg#basket")   
                        .features-title
                            .section-title selling                     
                    p.descr Non enim praesent elementum facilisis. Eget egestas purus viverra accumsan in nisl.
                li.item
                    .features__header
                        .features__icon     
                            svg.icon 
                                use(xlink:href="img/sprite.svg#camera")   
                        .features-title
                            .section-title Adding a video                      
                    p.descr Non enim praesent elementum facilisis. Eget egestas purus viverra accumsan in nisl.
                li.item
                    .features__header
                        .features__icon     
                            svg.icon 
                                use(xlink:href="img/sprite.svg#options")   
                        .features-title
                            .section-title Product options                      
                    p.descr Non enim praesent elementum facilisis. Eget egestas purus viverra accumsan in nisl.
                li.item
                    .features__header
                        .features__icon     
                            svg.icon 
                                use(xlink:href="img/sprite.svg#gamepad")   
                        .features-title
                            .section-title FULL CONTROL                    
                    p.descr Non enim praesent elementum facilisis. Eget egestas purus viverra accumsan in nisl.
                