section.section 
.footer 
	.content__footer
		.content__foot
			svg.footer__logo
				use(xlink:href="img/footer_logo.svg#footer")
			ul.items__footer 
				li.footer__item 
					a.item-footer(href="#")  privacy policy
				li.footer__item 
					a.item-footer(href="#") terms
				li.footer__item.copyrighy 
					p.footer__descr Copyright © 2022 ShopiApp. All Rights Reserved. ®