.section 
	.footer 
		.content__footer
			.content
				svg.footer__logo
					use(xlink:href="img/footer_logo.svg#footer")
				ul.items__footer 
					li.footer__item PRIVACY POLICY
					li.footer__item TERMS
					li.footer__item.copyrighy Copyright © 2022 ShopiApp. All Rights Reserved. ®