header.header
	section.section
		.header__inner
			.logo 
				a(href="#") 
					svg.logo
						use(xlink:href="img/sprite.svg#logo")
			button.header__toggle(aria-label="Открыть меню")
				span
				span
				span
			
			nav.header__menu.menu
				ul.menu__list
					li.menu__item 
						a(href="#") about
					li.menu__item 
						a(href="#") features
					li.menu__item 
						a(href="#") pricing
					li.menu__item 
						a(href="#") company
					li.menu__item 
						a(href="#") contact
					.header__more-doc
						a(href="#")  more shopiapp
						a(href="#")  documentation
					.header--btn
						button.started get started 
						button.login login