.section 
    .pricing 
        .title pricing
        ul.pricing__list            
            li.price__item.price-green
                .price__container 
                    .price-title self service
                    .price__group 
                        .mont
                            span.price__group-title Monthly
                            p.price|20$
                        .year
                            span.price__group-title Yearly
                            p.price|15$
                    .save__up 
                        p.second__descr  Save up to 25% 
                            span.descr with yearly plan
                    ul.price__info
                        li.dots__info.price-green G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                        li.dots__info.price-green G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                        li.dots__info.price-green G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                    button.get-started get started

            li.price__item.price-blue
                .price__container 
                    .price-title self service
                    .price__group 
                        .mont
                            span.price__group-title Monthly
                            p.price|20$
                        .year
                            span.price__group-title Yearly
                            p.price|15$
                    .save__up 
                        p.second__descr  Save up to 25% 
                            span.descr with yearly plan
                    ul.price__info 
                        li.dots__info.price-blue G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                        li.dots__info.price-blue G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                        li.dots__info.price-blue G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                    button.get-started.is--active get started

            li.price__item.price-yellow
                .price__container 
                    .price-title self service
                    .price__group 
                        .mont
                            span.price__group-title Monthly
                            p.price|20$
                        .year
                            span.price__group-title Yearly
                            p.price|15$
                    .save__up 
                        p.second__descr  Save up to 25% 
                            span.descr with yearly plan
                    ul.price__info 
                        li.dots__info.price-yellow G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                        li.dots__info.price-yellow G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                        li.dots__info.price-yellow G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                    button.get-started get started

            li.price__item.price-orange
                .price__container 
                    .price-title self service
                    .price__group 
                        .mont
                            span.price__group-title Monthly
                            p.price|20$
                        .year
                            span.price__group-title Yearly
                            p.price|15$
                    .save__up 
                        p.second__descr  Save up to 25% 
                            span.descr with yearly plan
                    ul.price__info
                        li.dots__info.price-orange G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                        li.dots__info.price-orange G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                        li.dots__info.price-orange G-CARD extension is an environment for customization and editing of product cards for Shopify. G-CARD.
                    button.get-started get started

