.section
	+w(1000px)

.pricing__list
	display: grid
	grid-template-columns:	repeat(auto-fit, minmax(230px, 1fr))
	grid-gap: 18px

.contact__info
	display: flex

.content
	display: flex

.company__content
	display: flex
	justify-content: center

.send__info
	justify-content: flex-end	
	
.btn.validate
	margin-right: 40px
	
.content__send
	display: flex
	max-width: 480px
	justify-content: space-between
	text-align: left