extends template/main
append vars
	-
		page_title= 'Main'
block content
	main
		include parts/main-slider
		include template/about
		include template/features
		include template/pricing
		include template/company
		include template/contact
		include template/foot